@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";  

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-10: var(--neutral-10);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-80: var(--neutral-80);
  --color-neutral-100: var(--neutral-100);
  --color-surface: var(--surface);
  --color-surface-contrast: var(--surface-contrast);
  --color-surface-low-contrast: var(--surface-low-contrast);
  --color-surface-mid-contrast: var(--surface-mid-contrast);
  --color-background: var(--background);
  --color-primary: var(--primary);
}

.dark {
  --neutral-10: #f5f5f5;
  --neutral-50: #adadad;
  --neutral-80: #5c5c5c;
  --neutral-100: #1f1f1f;
  
  --surface: #000;
  --surface-contrast: var(--color-neutral-10);
  --surface-low-contrast: var(--color-neutral-80);
  --surface-mid-contrast: var(--color-neutral-50);
  --background: var(--surface);
  --primary: #B9D8E1;
}

body {
  background: var(--color-background);
  color: var(--color-neutral-10);
  font-family: 'Inter', sans-serif;
}

.caption--regular {
  font-size: var(--text-xs);
  line-height: 1rem;
  letter-spacing: .025rem;
}

.body-small--bold {
  font-size: var(--text-sm);
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: .0313rem;
}